<footer class="container-fluid py-5 bg-dark">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; M2i-shop</p>
        <p class="m-0 text-center text-white">Made with &hearts; by M2i Shop</p>
	</div>
</footer>
